<h2><b>WIN A CHANCE TO MEET VIRAT KOHLI</b></h2>
<p>fill the given form  and get a chance to meet virat kohli</p>
<div class="col-sm-3">
<div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name">
</div>
  </div>
  <div class="col-sm-3">
  <div class="mb-3">
    <label for="eamil" class="form-label">eamil</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="eamil@example.com">
  </div>
  </div>
  <div class="col-sm-3">
  <div class="mb-3">
    <label for="phone number" class="form-label">phone number</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="ex-9077988234">
  </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">submit</button>
  </div>
