<h2>AWARDS</h2>
<img src=".\assets\800px-thumbnail.jpg" style="height:300px;width:200px;">
<p><b>national awards</b></p>
<p>2013 -Arjuna Award<br>
    2017 -Padma Shri, India's fourth highest civilian award<br>
    2018 -Rajiv Gandhi Khel Ratna award, India's highest sporting honour<br></p>
<p><b>sporting awards</b></p>
<p>Sir Garfield Sobers Trophy (ICC Men's Cricketer of the Decade): 2011-2020<br>
    Sir Garfield Sobers Trophy (ICC Cricketer of the Year): 2017, 2018<br>
    ICC ODI Player of the Year: 2012,2017, 2018<br>
    ICC Test Player of the Year: 2018<br>
    ICC ODI Team of the Year: 2012,2014, 2016 (captain),2017 (captain), 2018 (captain),2019 (captain)<br>
    ICC Test Team of the Year: 2017 (captain), 2018 (captain), 2019 (captain)<br>
    ICC Spirit of Cricket: 2019<br>
    ICC Men's ODI Cricketer of the Decade: 2011-2020<br>
    ICC Men's Test Team of the Decade: 2011-2020 (captain)<br>
    ICC Men's ODI Team of the Decade: 2011-2020<br>
    ICC Men's T20I Team of the Decade: 2011-2020<br>
    </p>
